<!-- Base HTML for Webpages By Ganesh-->

<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'videoplay/background.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'videoplay/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'videoplay/jszip.js' %}"></script>
    <script type="text/javascript" src="{% static 'videoplay/jszip-utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'videoplay/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'videoplay/FileSaver.js' %}"></script> 
    {% if title %}
    <title>CSVP-{{title}}</title>
    {% else %}
    <title>CSVP</title>
    {%endif%}

    <style>
        @import url('https://fonts.googleapis.com/css?family=Numans');
      html,body{
      background-image : url("{% static 'img/bg-image.jpg' %}");
      background-size: cover;
      background-repeat: repeat;
      height: 100%;
      font-family: 'Numans', sans-serif;
      }
      .container{
      height: 100%;
      align-content: center;
      }




        </style>



  </head>

  <body>

    {% if user.is_authenticated %}
        <nav id="navbardissappear" class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(8, 3, 56);">
          <span style="color:white">CSVP</span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                {% comment %} <a class="nav-link" href="{%url 'videoplay-agree'%}">Home <span class="sr-only">(current)</span></a> {% endcomment %}
              </li>
              <li class="nav-item">
                {% comment %} <a class="nav-link text-white-70" href="{%url 'videoplay-download1'%}">Download Single</a> {% endcomment %}
                {% comment %} <a class="nav-link text-white-70" href="{%url 'videoplay-download2'%}">Download Double</a> {% endcomment %}
              </li>
            </ul>
              <div class="dropdown" id="accounts" >
              <a class="btn btn-secondary dropdown-toggle bg-transparent" style="border-color: gray;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Accounts
              </a>

              <div class="dropdown-menu" style="background-color: black;"aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item text-light"   href="#">Home</a>
                  <a class="dropdown-item text-light"  href="#">Settings</a>
                  <a class="dropdown-item text-light"  href="#">Contact</a>

                  <a class="dropdown-item text-light"  href="{%url 'logout'%}">Logout</a>

              </div>
    {% endif %}
              </div>
          </div>
       </nav>



   {%block content%}{%endblock%}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% comment %} <script src="{% static 'videoplay/script.js' %}" type="text/javascript"></script> {% endcomment %}
{% comment %} <script src="{% static 'videoplay/script2.js' %}" type="text/javascript"></script> {% endcomment %}

<script src="{% static 'videoplay/script2.js' %}" type="text/javascript"></script>
<script src="{% static 'videoplay/script.js' %}" type="text/javascript"></script>

</body>
</html>




<!--Zeba -->
