@import url('https://fonts.googleapis.com/css?family=Numans');
html,body{
background-image: url("{% static 'img/bg-image.jpg' %}");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.container{
height: 100%;
align-content: center;
}

